html, body {
    margin: 0;
    background: #ccc;
}
.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.left {
    flex: 0 1 256px;
    margin-right: 2%;
    padding: 2%;
    background: #f5d781;
    align-self: center;
}
.center {
    flex: 1 1 600px;
    padding: 2%;
    background: #f58781;
}
.parent {
    width: 1280px;
    margin: 50px auto 0;
    padding: 40px 0;
    background: #aaa;
    text-align: center;
}
.sizes {
    background: #f5d781;
    width: 300px;
    height: 300px;
    border: 5px solid #30c;
    padding: 20px;
    margin: 0 10px;
    display: inline-block;
    box-sizing: border-box;
}